body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contact {

    &__title h1 {
        font-family: $fontitulo;
        font-size: 28px;
        font-weight: 400;
        color: white;
        letter-spacing: 0.1rem;
        overflow-y: hidden;
    }

    &__divider hr{
        color: white;
        height: 2px;
        width: 100%;
    }

    &__content {
        margin-bottom: 5%;
        margin-top: 5%;
        margin-right: 2%;
        display: flex;
    }

    &__image {
        width: 50%;
        img {
            padding-left: 2%;
            height: 370px;
            width: auto;
        }
    }

    &__form {
        align-items: center;
        background-color: black;
        width: 50%;
        padding-left: 2%;
    }
    
    &__field {
        width: 75%;
        font-family: $fontexto;
        color: white;

        .form-control {
            background-color: black;
            color: white;
        }
    }

    &__button {
        background-color: black;
        border: 1px solid white;
        color: white;
        font-family: $fontexto;
        &:hover{
            background-color: white;
            color: black;
        }
    }
    
    &__mail {
        display: flex;
        justify-content: center;
        overflow-y: hidden;
        a {
            font-size: x-large;
            overflow-y: hidden;
            text-decoration: none;
            color: rgb(194, 190, 190);
            margin-bottom: 3%;
            &:hover {
                overflow-y: hidden;
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){

    .contact {
        width: 100%;
        overflow-x: hidden;
        
        &__title {
            margin-top: 2rem;
        }

        &__content {
            width: 100%;
            margin: 0%;
            padding: 0%;
            overflow-x: hidden;
            flex-direction: column;
        }

        &__image {
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 3rem;
            justify-content: center;
            img {
                padding: 0;
                height: auto;
                width: 300px;
            }
        }

        &__form {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        &__field {
            padding: 0;
            width: 95%;
        }
    
        &__mail a{
            font-size: large;
            margin-top: 2rem;
            margin-bottom: 2rem;
                
        }
    }
}