// Base
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    overflow: visible;
}


.main-shows {
    height: 60vh;
}

.shows {

    &__title h1 {
        font-family: $fontitulo;
        font-size: 28px;
        font-weight: 400;
        color: white;
        letter-spacing: 0.1rem;
        overflow-y: hidden;
    }

    &__divider hr {
        background-color: white;
        height: 2px;
        width: 100%;
        margin: 0;
    }
}

// Item show
.show {
    align-items: center;
    margin-top: 1%;
    &__title {
        color: rgb(164, 164, 164);
        font-family: $fontexto;
        font-weight: 500;
        font-size: 20px;
        overflow-y: hidden;
    }

    &__location,
    &__city {
        color: rgb(164, 164, 164);
        font-family: $fontexto;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        text-align: right;
    }

    &__date {
        color: rgb(164, 164, 164);
        font-family: $fontexto;
    }

    &__action {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 768px) {

    .show {

        &__info {
            align-items: start;
            text-align: center;
            margin-top: 10px;
        }

        &__action {
            justify-content: center;
        }
    }

    .shows {
        &__title h1 {
            font-family: $fontexto;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .show {
        &__title {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}