footer{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    .divHr{
        .hr{
          background-color: white;
            height: 2px;
            width: 90%;
        }
    }
    .row{
        width: 100%;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
        .redesFooter{
            margin: 0;
            padding: 0;
            height: 15vh;
            .iconosNoticias{
                width: 100%;
                list-style: none;
                text-decoration: none;
                display: flex;
                justify-content: center;
                margin-bottom: 2%;
                margin-top: 1%;
                .iconos{
                    font-size: 1.5rem;
                    display: flex;
                    margin-left: 2%;
                    margin-right: 2%;
                    list-style: none;
                    text-decoration: none;
                    color: white;
                    overflow-y: hidden;
                }
                .iconos:hover{
                   font-size: 1.6rem;
                }
            }
        }
    }
    }