header{
    .contenedorLogo{
        .imgLogo{
            width: 150px;
            height: 150px;
        }
    }
    .contenedorNav{
        margin-top: 0%;
        font-family: $fontexto;
        font-size: large;
    }
}