.headerIndex {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-image: url(../assets/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        width: 100%;
        height: 100vh;
        margin: 0%;
        padding: 0%;
        background-color: rgba(8, 8, 8, 0);

        .primeraCol {
            padding: 0%;
            margin-top: 1%;
            .contenedorLogo {
                margin: 0%;
                margin-left: 6%;
                padding: 0%;
                .imgLogo {
                    width: 70px;
                    height: 90px;
                }
            }

            .redesFooter {
                margin: 0%;
                padding: 0%;
                margin-top: 1%;
                .iconos {
                    font-size: 25px;
                    display: flex;
                    margin-top: 2%;
                    margin-left: 2%;
                    margin-right: 2%;
                    margin-bottom: 2%;
                    list-style: none;
                    text-decoration: none;
                    color: white;
                }

                .iconos:hover {
                    font-size: 35px;
                }
            }
        }

        .contenedorNav {
            margin: 0%;
            padding: 0%;
            height: fit-content;
            font-family: $fontexto;
            font-size: 17px;
            margin-top: 1%;
            color: white;
            .nav-link{
                color: white;
            }
            .nav-link:hover{
                text-decoration: underline;
            }
        }
    }

    .contenedorLogo {
        margin: 0%;
        padding: 0%;

        .imgLogo {
            width: 70px;
            height: 90px;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
    .headerIndex {
        width: 100%;
        height: 50vh;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
        background-image: url(../assets/img/header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        .row {
            overflow-x: hidden;
            width: 100%;
            height: 50vh;
            margin: 0%;
            padding: 0%;
            background-color: rgba(8, 8, 8, 0);
            display: flex;
            flex-direction: column;
            .primeraCol {
                width: 100%;
                height: fit-content;
                padding: 0%;
                margin: 0%;
                display: flex;
                .contenedorLogo {
                    margin: 0%;
                    padding: 0%;
                    width: 50%;
                    .imgLogo {
                        width: 70px;
                        height: 90px;
                    }
                }
    
                .redesFooter {
                    margin: 0%;
                    padding: 0%;
                    margin-top: 5%;
                    justify-content: end;
                    width: 50%;
                    .iconos {
                        font-size: 25px;
                        display: flex;
                        margin-top: 2%;
                        margin-left: 2%;
                        margin-right: 2%;
                        list-style: none;
                        text-decoration: none;
                        color: white;
                    }
    
                    .iconos:hover {
                        font-size: 35px;
                    }
                }
            }
    
            .contenedorNav {
                margin: 0%;
                padding: 0%;
                height: fit-content;
                font-family: $fontexto;
                font-size: 17px;
                margin-top: 1%;
                color: white;
                .nav-link{
                    color: white;
                }
                .nav-link:hover{
                    text-decoration: underline;
                }
            }
        }
    
        .contenedorLogo {
            margin: 0%;
            padding: 0%;
    
            .imgLogo {
                width: 70px;
                height: 90px;
            }
        }
    }
}