.headerIndex {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-image: url(../assets/img/pruebados.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .row {
        width: 100%;
        height: 80%;
        margin: 0%;
        padding: 0%;

        .contenedorLogo {
            margin: 0%;
            padding: 0%;
            width: 50%;
            height: fit-content;

            .imgLogo {
                width: 70px;
                height: 90px;
            }
        }

        .contenedorNav {
            margin: 0%;
            padding: 0%;
            width: 50%;
            height: fit-content;
            font-family: $fontexto;
            font-size: 17px;
            margin-top: 1%;
            color: white;

            .nav-link {
                color: white;
            }

            .nav-link:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }

    .redesHeader {
        margin: 0%;
        padding: 0%;
        margin-top: 1%;
        height: 20%;

        .iconos {
            font-size: 25px;
            display: flex;
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 2%;
            list-style: none;
            text-decoration: none;
            color: white;
        }

        .iconos:hover {
            font-size: 35px;
        }
    }

    .contenedorLogo {
        margin: 0%;
        padding: 0%;

        .imgLogo {
            width: 70px;
            height: 90px;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .headerIndex {
        width: 100%;
        height: 70vh;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
        background-image: url(../assets/img/headerMovil.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        background-attachment: local;
        .row {
            overflow-x: hidden;
            width: 100%;
            height: 80%;
            margin: 0%;
            padding: 0%;

            .contenedorLogo {
                margin: 0%;
                padding: 0%;
                width: 50%;
                height: fit-content;
    
                .imgLogo {
                    width: 70px;
                    height: 90px;
                }
            }

            .contenedorNav {
                margin: 0%;
                padding: 0%;
                width: 50%;
                height: fit-content;
                font-family: $fontexto;
                font-size: 15px;
                margin-top: 1%;
                color: white;
    
                .nav-link {
                    color: white;
                }
    
                .nav-link:hover {
                    text-decoration: underline;
                    color: white;
                }
            }
        }
    }

    .redesHeader {
       display: flex;
       flex-direction: column;
       visibility: hidden;
        .iconos {
            font-size: 20px;
            list-style: none;
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }
    }

    .contenedorNav {
        width: 50%;
        height: fit-content;
        margin: 0%;
        padding: 0%;
        font-family: $fontexto;
        font-size: 13px;
        color: white;
        display: flex;
        justify-content: center;

        .navbar-toggler {
            display: flex;
            justify-content: end;
        }

        .nav-link {
            display: flex;
            justify-content: end;
            color: white;
        }

        .nav-link:hover {
            text-decoration: underline;
            color: white;
        }

        .navbar-toggler {
            background-color: white;
        }
    }

    .contenedorLogo {
        margin: 0%;
        padding: 0%;
        height: fit-content;

        .imgLogo {
            width: 70px;
            height: 90px;
        }
    }
}