header{
    height: fit-content;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    .contenedorLogo{
        height: fit-content;
        .imgLogo{
            width: 70px;
            height: 90px;
        }
    }
    .contenedorNav{
        height: fit-content;
        font-family: $fontexto;
        font-size: large;
        margin-top: 1%;
    }
}