body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    .mainInicio{
        margin-top: 15%;
        .texto{
            font-family: $fontexto;
            font-size: x-large;
            margin-top: 15%;
            margin-bottom: 15%;
        }
        
        .cardNoticias{
            .cardCuerpo{
                    text-decoration: none;
                    color: black;
                    font-size: medium;
                .cardBody{
                    text-decoration: none;
                    color: black;
                    font-size: medium;
                }
                .cardTitle{
                    font-family: $fontitulo;
                    font-size: xx-large;
                    margin-top: 2%;
                }
            }
        }
        .cards {
            margin-top: 15%;
            margin-bottom: 15%;
            overflow: hidden;
            .card{
                width: 20rem;
                .card-body{
                    padding: 0%;
                }
                .cardTitle{
                    font-family: $fontitulo;
                    margin-top: 2%;
                }
                .cardBody{
                    text-decoration: none;
                    color: black;
                    font-size: small;
                }
                .cardImg{
                    width: 100%;
                    height: 70%;
                }
            }
        }
    }
    
}
