body {
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    .mainMusica {
        padding: 0%;
        .tituloPagina {
            .subtituloPagina{
                font-family: $fontitulo;
                font-size: 28px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.1rem;
                overflow-y: hidden;
            }
        }
        .divHr{
            color: white;
            .hr{
               color: white;
                height: 2px;
                width: 100%;
            }
        }
        .contenedorDiscos {
            overflow: hidden;
            margin: 0%;
            padding: 0%;
            margin-top: 3%;
            height: 60vh;
            .textoDiscos {
                overflow: hidden;
                color: white;
                margin: 0%;
                margin-top: 1%;
                font-family: $fontexto;
                font-size: 15px;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .textoDiscos:hover{
                color: rgb(85, 24, 24);
            }
            .ancla{
                text-decoration: none;
                .discos {
                    width: auto;
                    height: 45vh;
                    display: flex;
                    justify-content: space-between;
                }
                .discos:hover{
                    width: auto;
                    height: 47vh;
                }
                .textoDiscosTitulo{
                    overflow: hidden;
                    margin: 0%;
                    margin-top: 1%;
                    font-family: $fontexto;
                    font-size: 18px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    text-align: center;   
                    color: white;
                }
                .textoDiscosTitulo:hover{
                    color: rgb(138, 30, 30);
                }
                .textoDiscosTituloBuceo{
                    overflow: hidden;
                    margin: 0%;
                    margin-top: 1%;
                    font-family: $fontexto;
                    font-size: 17px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    text-align: center;   
                    color: white;
                }
                .textoDiscosTituloBuceo:hover{
                    color: rgb(138, 30, 30);
                }
            }
        }

    }

}

@media screen and (min-width: 0px) and (max-width: 768px){
    .tituloPagina {
        display: flex;
        justify-content: center;
        .subtituloPagina{
            font-family: $fontexto;
            font-size: 28px;
            font-weight: 400;
            color: white;
            letter-spacing: 0.1rem;
            overflow-y: hidden;
        }
    }
}