body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    min-height: 100vh;
    overflow: visible;
}

    .news-page{

        &__title h1{
                font-family: $fontitulo;
                font-size: 28px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.1rem;
                overflow-y: hidden;
            }

        &__divider hr{
                color: white;
                height: 2px;
                width: 100%;
            }
    }
    
    .news {
        &__item{
            margin: 0%;
            padding: 0%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__images{
            display: flex;
            justify-content: center;
            margin: 0%;
            width: 95vw;
        }
        &__img{
            width: 25vw;
            height: auto;
            &--secondary{
                width: 25vw;
                height: auto;
                margin-left: 2%;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45vw;
        }
        &__title{
            color: rgb(164, 164, 164);;
            overflow-y: hidden;
            font-family: $fontexto;
            font-size: 17px;
            text-align: left;
            margin-top: 2%;
        }
        &__subtitle{
            text-align: center;
            overflow-y: hidden;
            color: rgb(164, 164, 164);
            font-family: $fontexto;
            font-size: 15px;
        }
        &__text{
            text-align: center;
            width: 60%;
            overflow-y: hidden;
            color: rgb(164, 164, 164);
            font-family: $fontexto;
            margin-top: 1%;
            font-size: 15px;
        }
        &__links{
            display: flex;
            justify-content: center;
            width: 100%;
            height: fit-content;
            a {
                display: flex;
                justify-content: center;
                width: 20%;
                height: 10vh;
                list-style: none;
                text-decoration: none;
                padding: 3%;
                i{
                    font-size: 1.5rem;
                    height: fit-content;
                    display: flex;
                    list-style: none;
                    text-decoration: none;
                    color: white;
                    overflow-y: hidden;
                }
                i:hover{
                    font-size: 1.6rem;
                }
            }
        }
        &__divider {
            margin: 1% 0;
            hr {
                background-color: white;
                height: 2px;
                width: 100%;
            }
        }
                
    }    

@media screen and (min-width: 0px) and (max-width: 768px){

    .news-page {
        
        &__title h1 {
            margin-top: 2rem;
        } 
    }  
    
    .news {
        
        &__images{
            flex-direction: column;
            align-items:start;
            margin-left: 5%;
        }
        &__img{
            width: 85vw;
            margin-bottom: 5%;
            &--secondary{
                width: 85vw;
                margin-left: 0%;
                margin: 0%;
            }
        }
              
        &__content {
            width: 90vw;
        }
        &__title {
            font-size: large;
            text-align: left;
        }

        &__subtitle{
            margin: 0%;
            margin-bottom: 2%;
            font-size: large;
            text-align: left; 
        }
        &__text{
            text-align: left;
            width: fit-content;
            font-size: medium;
        }
    }
                            
}