body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    .mainNoticias{
        .tituloPagina {
            .subtituloPagina{
                font-family: $fontitulo;
                font-size: 28px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.1rem;
                overflow-y: hidden;
            }
        }
        .divHr{
           
            .hr{
                color: white;
                height: 2px;
                width: 100%;
            }
        }
        .noticias{
            .divNoticiasUno{
                margin: 0%;
                padding: 0%;
                .divHrNoticias{
                    margin: 0%;
                    padding: 0%;
                    margin-bottom: 1%;
                    margin-top: 1%;
                    .hrNoticias{
                        margin: 0%;
                        padding: 0%;
                      background-color: white;
                        height: 2px;
                        width: 100%;
                    }
                }
                .divImgNoticias{
                    display: flex;
                    justify-content: center;
                    margin: 0%;
                    width: 95vw;
                    .imgNoticiasPCdos{
                        margin-left: 2%;
                    }
                    .imgNoticiasPCTres{
                        width: 800px;
                    }
                }
                .iconosNoticias{
                    width: 100%;
                    .iconosAncla{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        list-style: none;
                        text-decoration: none;
                        margin-bottom: 6%;
                        margin-top: 2%;
                        .iconos{
                            font-size: 2rem;
                            display: flex;
                            list-style: none;
                            text-decoration: none;
                            color: white;
                            overflow-y: hidden;
                        }
                        .iconos:hover{
                           font-size: 2.1rem;
                        }
                    }
                }
                    /*.imgNoticias{
                        width: 400px;
                        height: 380px;
                        margin-left: 5%;
                        object-fit: cover;
                    }
                    .imgNoticiasDos{
                        width: 350px;
                        height: 330px;
                        margin-left: 5%;
                        object-fit: cover;
                    }
                    .imgNoticiasTres{
                        width: 400px;
                        height: 380px;
                        margin-left: 5%;
                        object-fit: cover;
                    }*/
                    .divTextoNoticias{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .tituloNoticias{
                            color: rgb(164, 164, 164);;
                            overflow-y: hidden;
                            font-family: $fontexto;
                            font-size: x-large;
                            text-align: center;
                            margin-top: 2%;
                        }
                        .parrafoNoticias{
                            overflow-y: hidden;
                            color: rgb(164, 164, 164);
                            font-family: $fontexto;
                        
                            font-size: x-large;
                        }
                        .parrafoNoticiasDos{
                            text-align: center;
                            width: 80%;
                            overflow-y: hidden;
                            color: rgb(164, 164, 164);
                            font-family: $fontexto;
                            margin-top: 1%;
                            font-size: large;
                        }
                    }
                .divFechaNoticias{
                    color: rgb(164, 164, 164);
                    font-family: $fontexto;
                }
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 768px){
    body{
        width: 100vw;
        margin: 0%;
        padding: 0%;
        overflow-x: hidden;
        .mainNoticias{
            .tituloPagina {
                display: flex;
                justify-content: center;
                .subtituloPagina{
                    font-family: $fontexto;
                    font-size: 28px;
                    font-weight: 400;
                    color: white;
                    letter-spacing: 0.1rem;
                    overflow-y: hidden;
                }
            }
            .divHr{
               
                .hr{
                    color: white;
                    height: 2px;
                    width: 100%;
                }
            }
            .noticias {
                .divNoticiasUno {
                    margin: 0%;
                    padding: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .divHrNoticias {
                        visibility: hidden;
                        .hrNoticias{
                            visibility: hidden;
                        }
                    }
                    .divImgNoticias{
                        display: flex;
                        flex-direction: column;  
                        align-items: center;
                        .imgNoticiasPCdos{
                            margin: 0%;
                            margin-top: 2%;
                        }
                        .imgNoticiasPCTres{
                            width: 400px;
                        }
                    }
                    /*.divImgNoticias{
                     
                        .imgNoticias {
                            width: 360px;
                            height: 330px;
                            margin: 0%;
                            padding: 0%;
                            object-fit: contain;
                        }
                        .imgNoticiasTres {
                            width: 360px;
                            height: 330px;
                            margin: 0%;
                            padding: 0%;
                            object-fit: contain;
                        }
                    }
                    .divImgNoticiasDos{
                        overflow-y: hidden;
                        overflow-x: hidden;
                        display: flex;
                        justify-content: center;
                        width: 95%;
                        height: 290px;
                        .imgNoticiasDos {
                            margin: 0%;
                            padding: 0%;
                            object-fit: contain;
                        }
                    }*/
               
                    .divTextoNoticias {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .tituloNoticias {
                            color: rgb(164, 164, 164);
                            overflow-y: hidden;
                            font-family: $fontexto;
                            margin-top: 2%;
                            font-size: large;
                            text-align: center;
                        }

                        .parrafoNoticias {
                            color: rgb(164, 164, 164);
                            font-family: $fontexto;
                            margin: 0%;
                            margin-bottom: 2%;
                            font-size: large;
                            text-align: center;
                        }
                        .parrafoNoticiasDos{
                            text-align: center;
                            width: 90%;
                            overflow-y: hidden;
                            color: rgb(164, 164, 164);
                            font-family: $fontexto;
                            font-size: medium;
                        }
                    }

                    .divFechaNoticias {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        color: rgb(164, 164, 164);
                        font-family: $fontexto;
                        margin-top: 2%;
                    }

                    .divBotonNoticias {
                        .botonNoticias {
                            border: none;
                            background-color: black;
                            color: white;
                            font-family: $fontexto;
                        }
                    }
                   
                }
                .noticiasVeinticuatro{
                    .textoNoticiasVenticuatro{
                        display: flex;
                        justify-content: center;
                        color: white;
                        overflow-y: hidden;
                        font-family: $fontitulo;
                    }
                    .divImgNoticiasVenticuartro{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        .imgNoticiasVenticuartro{
                            width: 70%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}