body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    .mainVideo{
        .tituloPagina {
            .subtituloPagina{
                margin: 0%;
                font-family: $fontitulo;
                font-size: 28px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.1rem;
                overflow-y: hidden;
            }
        }
        .divHr{
            .hr{
              background-color: white;
                height: 2px;
                width: 100%;
            }
        }
        .sectionVideoUno{
            margin-top: 2%;
           
        }
        .sectionVideoDos{
            margin-top: 2%;
        
        }
        .sectionVideoTres{
            margin-top: 2%;
            margin-bottom: 2%;
            .videoCinco{
                border: 1px white solid;
            }
        }
    }
}